
body{
    background-color: rgb(148, 3, 148);
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
   }

.container{
    display: flex;
    flex-direction: column;
    width: 98%;
    /* margin: auto; */
    background-color: rgb(150, 47, 246);
    justify-content: last baseline;
    margin: auto;

}

.center{
    text-align: center;
    justify-content: center;
}

.y{
    color: yellow;
}


.rmf{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.fs{
  font-size: x-small;
}
  .parent{
    padding: 10px
  }

  .element{
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .catioBlend{
    background-image: url('../pics/catio.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    mix-blend-mode: hard-light;
  }

  .catioScottsdaleBlend{
    background-image: url('../pics/Catio36FTX16X7.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
    mix-blend-mode: hard-light;
  }

  .inline{
    display: inline-flex;
    text-wrap: nowrap;
  }

  .ws{
    width: 50% !important;
  }
  .ha{
    height: auto !important;
  }

  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
  }
  
  .topnav #Links {
    display: none;
  }

  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  .topnav a.icon {
    background: black;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .active {
    background-color: #008080;
    color: white;
  }

  .container > p {
    justify-content: center;
    text-align: center;
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
  }

  .ninesix{
      width: 96% !important;
  } 

  .w{
    color: white;
  }

  .fl{
    font-size: x-large;
  }

  .l{
    font-weight: bold;
    font-size: larger;
  }
  .wrap{
    text-wrap: wrap;
  }