
body{
    background-color: rgb(148, 3, 148);
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
   }

.container{
    display: flex;
    flex-direction: column;
    width: 99%;
    /* margin: auto; */
    background-color: rgb(150, 47, 246);
}

.center{
    text-align: center;
    justify-content: center;
}

.y{
    color: yellow;
}


.rmf{
    font-family: "Roboto Mono", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

  .parent{
    padding: 10px
  }

  .element{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }